.card {
   position: relative;
   display: flex;
   flex-direction: row;
   padding: 2rem;
   align-items: center;
   border: 1px solid rgba(149, 157, 165, 0.2);
   transition: all 2s ease-out;
}

.card__body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 60%;
}

.card__body-details {
   width: 80%;
   padding: 0.8rem 0.5rem;
   font-size: 1rem;
}

.card__body-details--editable {
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 2rem;
   margin-right: 2rem;
}

.card__body-details--editable .btn-primary {
   padding: 0.6rem 2.5rem;
}

.card__title {
   font-size: 1.3rem;
   line-height: 2rem;
   padding-right: 1rem;
   font-weight: 700;
   letter-spacing: -0.025em;
   color: #111827;
}

.card__summary {
   max-width: 29rem;
   max-height: 10.5rem;
   padding-top: 1.5rem;
   padding-bottom: 5rem;
   padding-right: 1rem;
   overflow: hidden;
   font-size: 1rem;
   font-weight: 400;
   color: #374151;
}

.card__image {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40%;
   height: 100%;
}

.card__image img {
   height: 100%;
   width: 100%;
   border-radius: 0.5rem;
}

@media (max-width: 650px) {
   .card {
      border: none;
      padding: 0;
   }
}

@media (max-width: 480px) {
   .card__title {
      color: var(--title, #232323);
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.88px;
   }

   .card__body-details {
      border-radius: 5px;
      width: 80%;
      padding: 5px;
      font-size: 11px;
   }

   .card__summary {
      max-width: 15rem;
      color: #6a6a6a;
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 0;
   }
}
