.card {
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  align-items: center;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: 2rem;
}

.card__body button {
  width: 100%;
}

.card__title {
  padding: 1rem;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #111827;
}

.card__summary {
  padding: 1rem;
  font-size: 0.9rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  font-weight: 400;
  color: #374151;
}

.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 20vw;
  padding: 2rem;
}

.card__image img {
  height: 90%;
  border-radius: 0.5rem;
}
