.post-layout {
   display: flex;
   padding: 2rem 4vw;
   justify-content: space-between;
   flex-direction: unset;
}

.body {
   padding: 2rem;
   flex-direction: column;
}

.top-utilies {
   margin-bottom: 1rem;
}

.post-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 100px;
}

.post-container > div:nth-child(odd):after {
   content: '';
   display: block;
   position: absolute;
   right: -50px;
   height: 100%;
   width: 1px;
   background: rgba(0, 0, 0, 0.25);
}

@media (max-width: 900px) {
   .post-container {
      grid-template-columns: 1fr;
      gap: 40px;
      margin: 0;
   }
}
