.body {
   padding: 2rem;
   flex-direction: column;
}

.top-utilies {
   margin-bottom: 1rem;
}

.content {
   display: grid;
   grid-template-columns: repeat(2, minmax(0, 1fr));
   gap: 100px;
}

.content > div:nth-child(odd):after {
   content: '';
   display: block;
   position: absolute;
   right: -50px; /* La mitad del espacio de separación */
   height: 100%;
   width: 1px;
   background: rgba(0, 0, 0, 0.25);
}
