.post-detail-layout {
   display: grid;
   grid-template-columns: 56% auto;
   padding: 20px;
   border-radius: 10px;
}
.cover__image {
   max-height: 450px;
}

.post-files {
   display: grid;
   grid-template-columns: repeat(2, minmax(0, 1fr));
   grid-gap: 10px;
   margin-top: 15px;
}

.post-files__item {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 15px;
   gap: 10px;
   border-radius: 10px;
}

.post-files__item__title {
   display: flex;
   justify-content: center;
   width: 100%;
}

@media (max-width: 768px) {
   .post-detail-layout {
      grid-template-columns: 100%;
   }
   .cover__image {
      display: none;
   }
   .post-files {
      grid-template-columns: 100%;
   }
}

@media (max-width: 397px) {
   .post-files__item .form-files {
      flex-direction: column;
      align-items: center;
   }
}
