.post-detail-layout {
   display: grid;
   grid-template-columns: 56% auto;
   grid-template-rows: auto auto auto auto;
}
.cover-image {
   max-height: 450px;
}
@media (max-width: 768px) {
   .post-detail-layout {
      grid-template-columns: auto;
   }
}
