.form__post {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: auto;
}

.container__text {
   display: flex;
   flex-direction: column;
   width: 55%;
   padding: 0 3%;
}

.container__multimedia {
   display: flex;
   flex-direction: column;
   width: 45%;
   padding: 0 3%;
}

.container-identifiers {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: auto;
   padding: 3% 0;
   align-items: center;
   justify-content: start;
}

.container-indentifiers__body {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: auto;
   padding: 1% 0;
   align-items: center;
   justify-content: start;
   gap: 3%;
}

.container__subtitle {
   display: flex;
   width: 100%;
   height: 10vh;
   align-items: center;
   justify-content: start;
}

.container__inputs {
   display: flex;
   width: 100%;
   flex-direction: column;
   row-gap: 2vh;
}

.container__tags {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: auto;
   flex-wrap: wrap;
   align-items: center;
   justify-content: start;
   margin-top: 2rem;
   gap: 1rem;
}

.container__btns__multimedia {
   display: flex;
   flex-direction: row;
   column-gap: 4%;
   width: 100%;
   height: auto;
   padding: 4% 0;
   align-items: center;
   justify-content: start;
}
