.progress-loader {
   top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
}

.progress-loader {
   width: 20%;
   height: 1rem;
   background: rgba(157, 157, 179, 0.25);
   border-radius: 7px;
}

.progress {
   content: '';
   width: 20%;
   height: 1rem;
   border-radius: 7px;
   background: rgb(132, 94, 94);
   transition: 0.5s;
   animation: loading1274 2s ease infinite;
}

@keyframes loading1274 {
   0% {
      width: 0%;
   }

   10% {
      width: 10%;
   }

   50% {
      width: 40%;
   }

   60% {
      width: 60%;
   }

   100% {
      width: 100%;
   }
}
